#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.group {
  margin: 0;
  background-color: #fff;
  display: grid;
  width: 350px;
  align-content: start;
  gap: 10px;
  border: 0;
  border-radius: 5px;
  box-shadow: -1px 1px 10px #1115;
}

.group * {
  padding: 10px;
  margin: 0;
  min-width: 2em;
}

.group label {
  padding: 0;
}

.group label input {
  padding: 8px;
  width: 100%;
}

.group textarea {
  resize: none;
}

.two {
  display: grid;
  max-width: 100%;;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  gap: 10px;
}